@import "./assets/styles/variables";
@import "./assets/styles/reset";
@import "./assets/styles/font";
@import "~bootstrap/scss/bootstrap.scss";
@import "./assets/styles/custom";

html {
  font-size: 16px;
  font-weight: 400;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb;
  border-radius: 10px;
}
