$black: #141414;
$darker-black: #0c0c0c;
$white: #ffff;
$green: #a6927e;

$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;
