// Color
$brown: #141414;
$light-brown: #111111;
$lightest-brown: #1d1d1d;
$black: #0c0c0c;
$darker-black: #070707;
$darkest-black: black;
$white: #ffff;
$green: #a6927e;
$gray: #7d868d;
$gray-light: #c6cbd0;
$gray-darker: #343434;
$red: #cf112d;

// Text
$body-color: $gray;
$primary: $white;
$secondary: $gray-light;
$primary-text-emphasis: $green;

// BG
$body-bg: $brown;
$primary-bg-subtle: $red;
$dark: $black;
$dark-bg-subtle: $light-brown;
$light: $white;
$light-bg-subtle: $lightest-brown;

$border-color: rgba(255, 255, 255, 0.15);

$scrollbar-thumb: #39070b;

$primary-gradient: linear-gradient(
  90deg,
  #1e1e1e 0%,
  #111 12.15%,
  #1e1e1e 26.82%,
  #121212 41.16%,
  #23201d 54.82%,
  #100f0f 69.83%,
  #181717 80.33%,
  #1b1917 94.32%
);

$secondary-gradient: linear-gradient(
  90deg,
  #1e1e1e 0%,
  #111 12.15%,
  #1e1e1e 26.82%,
  #121212 41.16%,
  #23201d 54.82%,
  #100f0f 69.83%,
  #181717 80.33%,
  #1b1917 94.32%
);
// ------------------------------------------------------

// Font
$font-sizes: (
  1: 2.5rem,
  2: 2rem,
  3: 1.75rem,
  4: 1.5rem,
  5: 1.25rem,
  6: 1.1rem,
  7: 1rem,
  8: 0.9rem,
  9: 0.85rem,
  10: 0.8rem,
  11: 0.75rem,
  12: 0.7rem,
);
// -------------------------------------------------------

// Gap
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 2,
  5: $spacer * 3,
);
// -------------------------------------------------------
